.reference_link {
  color: var(--chakra-colors-link-400);
}
.reference_link:hover {
  text-decoration: underline;
}

.reference_link:active {
  color: var(--chakra-colors-purple-400);
  text-decoration: none;
}

.reference_link:visited {
  color: var(--chakra-colors-purple-400);
}

.markdownClass {
  white-space: pre-wrap;
}

.markdownClass li {
  list-style-position: inside;
  white-space: normal;
}

.markdownClass li > p {
  display: inline;
}

.copyCodeblock {
  position: absolute;
  display: flex;
  align-items: center;
  right: 6px;
  top: 6px;
  padding: 6px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  /* width: 20px; */
  color: rgba(255, 255, 255, 0.836);
}
.copyCodeblock:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.copyCodeblock::before {
  opacity: 0;
  transition-property: all;
  transition-duration: 3000ms;
}

.copyCodeblock[data-copied="true"]::before {
  position: relative;
  content: "copied!";
  margin-right: 4px;
  color: rgb(84, 242, 84);
  opacity: 1;
  line-height: 1;
  transition-property: all;
  transition-duration: 3000ms;
}
